.navbar-brand{
    margin: 0;
}
.aside {
    overflow: auto;
    position: fixed;
    top: 50px;
    height: 850px;
    left: 40px;
    width: 100px;
    z-index: 98;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #181c32;
    border-radius: .55rem;
}
.aside-nav{
    padding-top: 200px;
}
@media screen and (max-width: 600px) {
    .aside{
        height: 550px;
    }    
    .aside-nav{
        padding-top: 118px;
    }
}
@media (min-width: 992px){
    .sidebar-enabled[data-sidebar=on] .wrapper {
    margin-right: 400px;
    -webkit-transition: margin-right .3s ease;
    transition: margin-right .3s ease;
    }
}
@media (min-width: 992px){
    .wrapper {
    margin: 40px 0;
    margin-left: 140px;
    margin-right: 40px;
    -webkit-transition: margin-right .3s ease;
    transition: margin-right .3s ease;
    }
}

.container{
    margin-left: 15px;
    border: solid 2px grey;
}
