{% extends 'base.html' %}
{% block active_about %}
active
{% endblock active_about %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aboutus.css') }}">
<section class="container mb-2">
    <!-- <div class="sample-header">
        <div class="sample-header-section text-center">
            <h1>About Us</h1>
            <h2></h2>
        </div>
    </div> -->
    <div class="sample-section-wrap">
        <div class="sample-section text-justify">
            <p>वैश्वीकरण का एक दुखद दुष्प्रभाव स्थानीय भाषाओं के लिए धीरे-धीरे कटऑफ और कम महत्व रहा है, खासकर नोएडा जैसे
                शहरी क्षेत्रों में। तब किसी की संस्कृति को धारण करना अधिक से अधिक महत्वपूर्ण हो जाता है। व्योम सभी चीजों
                का जश्न मनाता है भारतीय और फिर कुछ। वास्तव में, अधिकांश गतिविधियाँ प्रतिभागियों की उल्लेखनीय परिपक्वता
                और शानदार सोच को दर्शाती हैं। मेरी कलाम से (कविता प्रतियोगिता) जैसे अन्य मनोरंजक कार्यक्रमों के साथ,
                व्योम ने जेएसएस में अपने लिए एक विशेष स्थान बनाया है।</p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="../images/principal.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Dr. Gurulingappa M Patil</h3>
                        <h4 class="title">Principal</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="../images/jagdish.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Dr. Jagadish Rampur Shivanna</h3>
                        <h4 class="title">Dean Academics & Chief Warden</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="../images/prashant.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Dr. Prashant Chauhan</h3>
                        <h4 class="title">Dean Student Welfare</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="../images/roli1.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Dr. Roli Verma</h3>
                        <h4 class="title">HOD (Chemistry) & Cultural Head </h4>
                    </div>
                </div>
            </div>
        </div>
</section>


</main>


{% endblock body %}

</html>