<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome_css/all.css') }}">
    <!-- End of Stylesheet -->
</head>

<body>


    <div style="display:flex;justify-content: center; margin: 10px;">
        <a href="logout" class="btn-lg btn-success" type="button">Logout</a>
    </div>

    <div id="form-data" class="container">
        <h1 class="text-center mx-3">Admin Panel</h1>
    </div>
    <div class="container mt-2">
        <iframe
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTjld3E6IilC4qpFzJeyDlVi4dxqBo2-osVYGKo284pPYo0CWEDtl8m2Gtt9-fLvQq3Ht1lpgKh3WEj/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
            style="height: 700px; width:100%;"> </iframe>

    </div>

</body>

</html>